/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/equipe/equipe.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.equipe_div__lsVRJ {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.equipe_text__iKiP3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: center;
    margin-top: 5%;
    color: white;
}

.equipe_imagem__Pz_dO {
    border: 15px solid #7B1834;
}

.equipe_h1__fuF7n {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    color: white;
}

.equipe_header__POE2p {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #7B1834;
    padding: 1rem;
}

@media only screen and (max-width:700px) {
    .equipe_h1__fuF7n {
        font-size: x-large;
        margin-top: 8%;
    }
    
    .equipe_div__lsVRJ {
        flex-direction: column;
    }
}
