/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/intro/intro.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.intro_tudo__WYKNN{
    background-color: black;
    width: 100%;
}


.intro_img_fundo__qGCwK{
    background-color: rgb(102, 17, 17);
    color: white ;
    border: 5px solid white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50% ;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2vw;
    
}



.intro_container__Int0H {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 19px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro_row-item__LXjnM {
  outline: 2px solid rgba(0, 0, 0, 0.205);
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.intro_row-item__LXjnM:hover {
  outline: 2px solid rgba(0, 0, 0, 0.6);
}

.intro_trending__H820m {
  height: 100vh;
}

.intro_item-header__VLyk9 img {
  width: 21rem;
}

.intro_item-description__rI57X {
  font-size: 2rem;
  padding: 1rem;
  color:white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.intro_trending__H820m h3 {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 4.2rem !important;
}

.intro_row-container__Kvp0k {
  display: flex;
  gap: 2.2rem;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  position: relative;
  padding: 1rem 0.6rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.intro_row-container__Kvp0k::-webkit-scrollbar {
  display: none;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.intro_title-btns__nFq0E {
  display: flex;
  justify-content: space-between;
}

.intro_btns__C_FeJ button {
  color: white;
  background-color: #373737;
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.intro_btns__C_FeJ {
  display: flex;
  gap: 0.4rem;
}

.intro_btns__C_FeJ button:hover {
  background-color: black;
}
.intro_item-price__uw3qt {
  font-weight: 600;
  font-size: 2.2rem;
  margin-top: 1.4rem;
}
.intro_link__49kmA {
  text-decoration: none;
  color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


