.header {
    background-color: #7B1834;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title1{
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

.texto1{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.title2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.texto2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:  #7B1834;
    color: white;
    width: 850px;
    height: 50px;
    margin-left: 330px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 45px;
}

.img1{
    display: flex;
    justify-content: center;
}

    
.divv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: large;
}

.tudo {
    background-color: #7B1834;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2rem;
    color: white;
    border-radius: 20px;
}

.img {
    text-align: center;
}

.anime {
    border-radius: 45px;
    background-color:  #7B1834;
    padding: 2rem;
    margin-left: 10%;
    margin-right: 10%;
}

.iframee {
    text-align: center;
    /* position: relative; */
}


/* div.iframee > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 80%;
    height: 80%;
} */

@media only screen and (max-width:700px) {
    

    .divv {
        flex-direction: column;
        text-align: center;
    }

    .anime {
        margin-top: 0%;
        
    }
}