/* .header {
    background-color: #7B1834;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
} */


.img_fundo{
    background-color: #7B1834;
    color: white ;
    border-radius: 12px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    margin-left: 15%;
    margin-right: 15%;
}

.hh1 {
    text-align: center;
    font-size: xx-large;
    font-family:Georgia, 'Times New Roman', Times, serif;

}


