/* .header {
    background-color: #7B1834;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
} */


.img_fundo{
    background-color: rgb(102, 17, 17);
    color: white ;
    border-radius: 12px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    margin-left: 15%;
    margin-right: 15%;
}




